
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/UserDashboard/Views/Shared/_UserLayout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800"></h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Bildirişlər</h6>
        </div>
        <div class="card-body">
            <div class="chat_list">
                <ul class="list-group">
                    <li class="list-group-item">

                        <div>
                            <small class="list-group-item-heading text-muted text-primary">İCARƏ</small>
                            <p class="list-group-item-text">
                                Salam, sizin <a href="#">R1334467</a> nömrəli icarə öhdəliyinizin ödəniş zamanıdır.
                            </p>
                        </div>
                        <small class="pull-right text-muted">20.08.2020 in 12:56</small>

                    </li>
                    <li class="list-group-item">

                        <div>
                            <small class="list-group-item-heading text-muted text-primary">İCARƏ</small>
                            <p class="list-group-item-text">
                                Salam, sizin <a href="#">R1324747</a> nömrəli icarə öhdəliyinizin ödəniş zamanıdır.
                            </p>
                        </div>
                        <small class="pull-right text-muted">19.08.2020 in 12:56</small>

                    </li>
                    <li class="list-group-item">

                        <div>
                            <small class="list-group-item-heading text-muted text-primary">İCARƏ</small>
                            <p class="list-group-item-text">
                                Salam, sizin <a href="#">R13198767</a> nömrəli icarə öhdəliyinizin ödəniş zamanıdır.
                            </p>
                        </div>
                        <small class="pull-right text-muted">17.08.2020 in 12:56</small>

                    </li>
                    <li class="list-group-item">

                        <div>
                            <small class="list-group-item-heading text-muted text-primary">İCARƏ</small>
                            <p class="list-group-item-text">
                                Salam, sizin <a href="#">R1399867</a> nömrəli icarə öhdəliyinizin ödəniş zamanıdır.
                            </p>
                        </div>
                        <small class="pull-right text-muted">15.07.2020 in 12:56</small>

                    </li>
                    <li class="list-group-item">

                        <div>
                            <small class="list-group-item-heading text-muted text-primary">İCARƏ</small>
                            <p class="list-group-item-text">
                                Salam, sizin <a href="#">R1223467</a> nömrəli icarə öhdəliyinizin ödəniş zamanıdır.
                            </p>
                        </div>
                        <small class="pull-right text-muted">10.07.2020 in 12:56</small>

                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
