
@{
    ViewBag.Title = "IndexRent";
    Layout = "~/Areas/UserDashboard/Views/Shared/_UserLayout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800"></h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">İbrahimov Vaqif-Bakı ş. Azadlıq pr. 22</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tarix</th>
                            <th>Status</th>
                            <th>Rekvizit</th>
                            <th>Məbləğ</th>
                            <th>Bildiriş</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Tarix</th>
                            <th>Status</th>
                            <th>Rekvizit</th>
                            <th>Məbləğ</th>
                            <th>Bildiriş</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>20.03.2020</td>
                            <td>Ödənilib</td>
                            <td>3458484390878348392</td>
                            <td>3000 Azn</td>
                            <td>
                                <div class="dropdown no-arrow">
                                    <div class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Göndər
                                    </div>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">SMS</a>
                                        <a class="dropdown-item" href="#">E-mail</a>
                                        <a class="dropdown-item" href="#">Çat</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>20.04.2020</td>
                            <td>Ödənilib</td>
                            <td>3458484390878348392</td>
                            <td>3000 Azn</td>
                            <td>
                                <div class="dropdown no-arrow">
                                    <div class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Göndər
                                    </div>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">SMS</a>
                                        <a class="dropdown-item" href="#">E-mail</a>
                                        <a class="dropdown-item" href="#">Çat</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>20.05.2020</td>
                            <td>Ödənilib</td>
                            <td>3458484390878348392</td>
                            <td>3000 Azn</td>
                            <td>
                                <div class="dropdown no-arrow">
                                    <div class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Göndər
                                    </div>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">SMS</a>
                                        <a class="dropdown-item" href="#">E-mail</a>
                                        <a class="dropdown-item" href="#">Çat</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>20.06.2020</td>
                            <td>Ödənilib</td>
                            <td>3458484390878348392</td>
                            <td>3000 Azn</td>
                            <td>
                                <div class="dropdown no-arrow">
                                    <div class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Göndər
                                    </div>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">SMS</a>
                                        <a class="dropdown-item" href="#">E-mail</a>
                                        <a class="dropdown-item" href="#">Çat</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>20.07.2020</td>
                            <td>Ödənilməyib</td>
                            <td>3458484390878348392</td>
                            <td>3000 Azn</td>
                            <td>
                                <div class="dropdown no-arrow">
                                    <div class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Göndər
                                    </div>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">SMS</a>
                                        <a class="dropdown-item" href="#">E-mail</a>
                                        <a class="dropdown-item" href="#">Çat</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
