
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/UserDashboard/Views/Shared/_UserLayout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <img style="padding-left: 90px;" src="~/Areas/UserCabinet/UserPublicFront/img/reklam.png" alt="">

    <div class="Istifade">
        <div class="sonOdeme d-flex">
            <h3>Son ödənişlərim / Son qəbul edilən ödənişlər</h3>
        </div>
        <div class="container mt-2">

            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="card card-block">
                        <h5 class="card-title m-2">AzərSu</h5>
                        <p class="card-text  m-2">Abonent Kodu:640030026a0019</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card card-block">
                        <h5 class="card-title  m-2">Azərİşıq</h5>
                        <p class="card-text  m-2">Abonent Kodu:640030026a0019 </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card card-block">
                        <h5 class="card-title  m-2">AzəriQaz</h5>
                        <p class="card-text  m-2">Abonent Kodu:640030026a0019 </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card card-block">
                        <h5 class="card-title  m-2">Connect</h5>
                        <p class="card-text m-2">Abonent Kodu:640030026a0019</p>
                    </div>
                </div>
            </div>

            <!-- /.container-fluid -->

        </div>
    </div>
    <div id="esasSehife">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <a class="m-0 font-weight-bold text-primary odenis">Birdəfəlik ödəmə</a>
                <a class="m-0 font-weight-bold text-primary odenis">Təkrarlanan ödənişlər</a>

            </div>
            <div class="row mt-3">
                <div class="col-xl-3 col-md-6 mb-4 ">
                    <div class="card shadow h-100 py-2 Kamran">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center" style="padding-left: 70px">
                                <div class="col-auto">
                                    <a href="#" style="padding-left:19px">
                                        <i class="fas fa-mobile-alt fa-2x"></i>
                                    </a>
                                    <h4>Mobil</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card shadow h-100 py-2 Kamran">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center" style="padding-left: 20%">
                                <div class="col-auto">
                                    <a href="#" style="padding-left:30%">
                                        <i class="fas fa-home fa-2x"></i>
                                    </a>
                                    <h4>Kommunal</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card shadow h-100 py-2 Kamran">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center" style="padding-left: 70px">
                                <div class="col-auto">
                                    <a href="#" style="padding-left:19px">
                                        <i class="fas fa-wifi fa-2x"></i>
                                    </a>
                                    <h4>Internet</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card shadow h-100 py-2 Kamran">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center" style="padding-left: 20%">
                                <div class="col-auto">
                                    <a href="#" style="padding-left:30%">
                                        <i class="fas fa-tv fa-2x"></i>
                                    </a>
                                    <h4>TV provayder</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card shadow h-100 py-2 Kamran">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center" style="padding-left: 70px">
                                <div class="col-auto">
                                    <a href="#" style="padding-left:19px">
                                        <i class="fas fa-phone-alt fa-2x"></i>
                                    </a>
                                    <h4>Telefon</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card shadow h-100 py-2 Kamran">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center" style="padding-left: 70px">
                                <div class="col-auto">
                                    <a href="#" style="padding-left:19px">
                                        <i class="fas fa-umbrella fa-2x"></i>
                                    </a>
                                    <h4>Sığorta</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card shadow h-100 py-2 Kamran">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center" style="padding-left: 70px">
                                <div class="col-auto">
                                    <a href="#" style="padding-left:19px">
                                        <i class="fas fa-university fa-2x"></i>
                                    </a>
                                    <h4>Bank</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card shadow h-100 py-2 Kamran">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center" style="padding-left: 70px">
                                <div class="col-auto">
                                    <a href="#" style="padding-left:19px">
                                        <i class="fas fa-wifi fa-2x"></i>
                                    </a>
                                    <h4>İnternet</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span> &copy; e-icare.az </span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
    {
        @*<a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>*@
    }
}

