
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/UserDashboard/Views/Shared/_UserLayout.cshtml";
}

<h1 class="text-center">Bonuslarım</h1>
<div id="esasSehife" class="mx-4">
    <div class="card shadow p-5">
        <div class="card bg-light mb-3" style="max-width: 14rem;">
            <div class="card-header" style="background:#4e73df; color:#fff">Bonuslar</div>
            <div class="card-body">
                <h5 class="card-title" style="color:#4e73df">10 bonus</h5>

            </div>
        </div>


        <h3 class="text-center mb-2 mt-1">Hədiyyələr</h3>
        <div class="card-group">
            <div class="card ml-3">
                <img class="card-img-top" style="height:170px" src="~/Areas/UserDashboard/UserPublicFront/img/356d0281-948f-4f40-bd81-0cefc6a87fe7.jpeg" alt="Card image cap" />
                <div class="card-body">
                    <h5 class="card-title">Beynəlxalq Bank</h5>
                    <p class="card-text">Visa Electron. Kartın müddəti 3 ilədəkdir. </p>
                </div>
                <div class="card-footer">
                    <h4 style="color:#4e73df">1000 bonus</h4>
                </div>
            </div>
            <div class="card ml-3">
                <img class="card-img-top" style="height:170px" src="~/Areas/UserDashboard/UserPublicFront/img/14951872373094852616_554x360.jpeg" alt="Card image cap" />
                <div class="card-body">
                    <h5 class="card-title">Bakcell</h5>
                    <p class="card-text">Bakcelldən pulsuz danışıq dəqiqələri.</p>
                </div>
                <div class="card-footer">
                    <h4 style="color:#4e73df">300 bonus</h4>
                </div>
            </div>
            <div class="card ml-3" >
                <img class="card-img-top" style="height:170px" src="~/Areas/UserDashboard/UserPublicFront/img/4738f03b-eb1e-4ba7-acd6-9ebe61ea9477.jpeg" alt="Card image cap"/>
                <div class="card-body">
                    <h5 class="card-title">CodeBit</h5>
                    <p class="card-text">CodeBit-dən dərslərə 15%-dək endirim </p>
                </div>
                <div class="card-footer">
                    <h4 style="color:#4e73df">600 bonus</h4>
                </div>
            </div>
            <div class="card ml-3" >
                    <img class="card-img-top" style="height:170px" src="~/Areas/UserDashboard/UserPublicFront/img/ff776004-8dd3-49b5-8f76-619283c416b4.jpeg" alt="Card image cap" />
                <div class="card-body">
                    <h5 class="card-title">Book House</h5>
                    <p class="card-text">Book House-dən kitab alışına 20%-dək endirim</p>
                </div>
                <div class="card-footer">
                    <h4 style="color:#4e73df">600 bonus</h4>
                </div>
            </div>
        </div>
    </div>
</div>

