
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    

    <div class="Istifade mt-2 mb-2">
        <div class="container mt-2">
            <div id="esasSehife">
                <div class="container mb-5 mt-5">
                    <div class="row">
                        <img style="width:100%; height:160px; object-fit:cover" src="~/PublicFront/Vendors/image/tam.png" alt="">
                    </div>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <a class="m-0 font-weight-bold text-primary odenis">Birdəfəlik ödəmə</a>
                        <a class="m-0 font-weight-bold text-primary odenis">Təkrarlanan ödənişlər</a>

                    </div>
                    <div class="row mt-3">
                        <div class="col-xl-3 col-md-6 mb-4 ">
                            <div class="card shadow h-100 py-2 m-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center" style="padding-left: 70px">
                                        <div class="col-auto">
                                            <a href="#" style="padding-left:19px">
                                                <i class="fas fa-mobile-alt fa-2x"></i>
                                            </a>
                                            <h4>Mobil</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card shadow h-100 py-2 m-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center" style="padding-left: 20%">
                                        <div class="col-auto">
                                            <a href="#" style="padding-left:30%">
                                                <i class="fas fa-home fa-2x"></i>
                                            </a>
                                            <h4>Kommunal</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card shadow h-100 py-2 m-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center" style="padding-left: 70px">
                                        <div class="col-auto">
                                            <a href="#" style="padding-left:19px">
                                                <i class="fas fa-wifi fa-2x"></i>
                                            </a>
                                            <h4>Internet</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card shadow h-100 py-2 m-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center" style="padding-left: 20%">
                                        <div class="col-auto">
                                            <a href="#" style="padding-left:30%">
                                                <i class="fas fa-tv fa-2x"></i>
                                            </a>
                                            <h4>TV provayder</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card shadow h-100 py-2 m-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center" style="padding-left: 70px">
                                        <div class="col-auto">
                                            <a href="#" style="padding-left:19px">
                                                <i class="fas fa-phone-alt fa-2x"></i>
                                            </a>
                                            <h4>Telefon</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card shadow h-100 py-2 m-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center" style="padding-left: 70px">
                                        <div class="col-auto">
                                            <a href="#" style="padding-left:19px">
                                                <i class="fas fa-umbrella fa-2x"></i>
                                            </a>
                                            <h4>Sığorta</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card shadow h-100 py-2 m-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center" style="padding-left: 70px">
                                        <div class="col-auto">
                                            <a href="#" style="padding-left:19px">
                                                <i class="fas fa-university fa-2x"></i>
                                            </a>
                                            <h4>Bank</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card shadow h-100 py-2 m-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center" style="padding-left: 70px">
                                        <div class="col-auto">
                                            <a href="#" style="padding-left:19px">
                                                <i class="fas fa-wifi fa-2x"></i>
                                            </a>
                                            <h4>İnternet</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- End of Main Content -->

                </div>
            </div>

            <!-- /.container-fluid -->

        </div>
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
@*<div class="ServiceInfo">
        <div class="container">
            <div class="row">
                <div class="card mt-5 mb-2" style="width: 100%; box-shadow: 0rem 0rem 4rem 8px rgb(25 23 112 / 0.27)">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 mt-4">
                                <h1 style="color:#191970;" class="card-title">Bank və sığorta xidmətləri</h1>
                            </div>
                            <div class="col-md-6 mb-5">
                                <i style="color: #191970; font-size: 90px" class="fas fa-house-damage d-flex justify-content-end"></i>
                            </div>
                            <div class="col-md-12">
                                <p style="font-size:20px; color: #191970e6;" class="card-text">
                                    _____İcbari Sığorta Bürosu zərərçəkən sığorta olunanların və zərər vurulan
                                    üçüncü şəxslərin maraqlarının müdafiəsini, icbari sığorta sisteminin
                                    sabitliyi və inkişafını təmin etmək üçün, habelə “İcbari sığortalar haqqında”
                                    Qanunla nəzərdə tutulan funksiyaların həyata keçirilməsi məqsədilə həmin qanunun
                                    tələbləri nəzərə alınmaqla Azərbaycan Respublikasının Mülki Məcəlləsinə
                                    uyğun olaraq hüquqi şəxslərin ittifaqı kimi təsis edilib və fəaliyyət göstərir.
                                </p>
                                <p class="card-text">
                                    <ul>
                                        <li>
                                            Daşınmaz əmlakın icbari sığortası üzrə yaddaş vərəqəsi
                                        </li>
                                        <li>
                                            Daşınmaz əmlakın icbari sığortasışəhadətnamə blankı

                                        </li>
                                        <li>
                                            Daşınmaz əmlakın icbari sığortası üzrə sığorta şəhadətnaməsinin forması, onun çap olunması və doldurulması qaydaları

                                        </li>
                                        <li>
                                            Daşınmaz əmlakın icbari sığortası üzrə sığorta tariflərinin müəyyənləşdirilməsi qaydası

                                        </li>
                                    </ul>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@


